In [91]:
import pandas as pd

In [92]:
df=pd.read_csv('df_sucio2.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,NaN,NaN,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0

In [93]:
df.shape

(49002, 16)

In [94]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [95]:
df['id'].unique()

array(['2539', '2595', '3647', ..., '21675209', '22191760', '12740226'],
      shape=(46501,), dtype=object)

In [96]:
df2=df

In [97]:
df2=df2.dropna(subset=['id'])
df2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,NaN,NaN,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0

In [98]:
dic={'Auto%#': '0'}
df2['id']=df2['id'].replace(dic)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2371185560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['id']=df2['id'].replace(dic)

In [99]:
df2['id']=df2['id'].astype(int)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\4080668048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['id']=df2['id'].astype(int)

In [100]:
df2.isnull().sum()

id                                    0
name                               1443
host_id                            1438
host_name                          1428
neighbourhood_group                1418
neighbourhood                      1417
latitude                           1429
longitude                          1425
room_type                          1427
price                              1428
minimum_nights                     1422
number_of_reviews                  1424
last_review                       10856
reviews_per_month                 10892
calculated_host_listings_count     1425
availability_365                   1433
dtype: int64

In [101]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            46089 non-null  object
 2   host_id                         46094 non-null  float64
 3   host_name                       46104 non-null  object
 4   neighbourhood_group             46114 non-null  object
 5   neighbourhood                   46115 non-null  object
 6   latitude                        46103 non-null  object
 7   longitude                       46107 non-null  object
 8   room_type                       46105 non-null  object
 9   price                           46104 non-null  float64
 10  minimum_nights                  46110 non-null  float64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 6.2+ MB

In [102]:
df['name'].unique()

array(['Clean & quiet apt home by the park', 'Skylit Midtown Castle',
       'THE VILLAGE OF HARLEM....NEW YORK !', ...,
       'Private room in a 2 Bedroom apartment - Chelsea',
       'Bright, spacious and quiet two-bedroom Chelsea apt',
       'Comfortable Couch in a Great Location! Bushwick.'],
      shape=(46495,), dtype=object)

In [103]:
df2['name']=df2['name'].fillna("Sin nombre")

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3513800373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['name']=df2['name'].fillna("Sin nombre")

In [104]:
df2['name']=df2['name'].astype(object)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\220674303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['name']=df2['name'].astype(object)

In [105]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         46094 non-null  float64
 3   host_name                       46104 non-null  object
 4   neighbourhood_group             46114 non-null  object
 5   neighbourhood                   46115 non-null  object
 6   latitude                        46103 non-null  object
 7   longitude                       46107 non-null  object
 8   room_type                       46105 non-null  object
 9   price                           46104 non-null  float64
 10  minimum_nights                  46110 non-null  float64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 6.2+ MB

In [106]:
df2['name'].isnull().sum()

np.int64(0)

In [107]:
df['host_id'].unique()

array([           nan, 2.84500000e+03, 4.63200000e+03, ...,
       2.34929520e+07, 2.85048390e+07, 1.76964342e+08], shape=(36480,))

In [108]:
df['host_id'].isnull().sum()

np.int64(1470)

In [109]:
df2["host_id"]=df["host_id"].fillna("0")
df2.head()

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3624518895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["host_id"]=df["host_id"].fillna("0")

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,0,NaN,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0

In [110]:
df2['host_id']=df2['host_id'].astype(int)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1919776223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['host_id']=df2['host_id'].astype(int)

In [111]:
df2['host_id'].isnull().sum()

np.int64(0)

In [112]:
df['host_name'].unique()

array([nan, 'Jennifer', 'Elisabeth', ..., 'Abayomi', 'Alberth',
       'Ilgar & Aysel'], shape=(11242,), dtype=object)

In [113]:
df3=df2

In [114]:
df3["host_name"]=df2["host_name"].fillna("Anónimo")
df3

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2774221241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["host_name"]=df2["host_name"].fillna("Anónimo")

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,0,Anónimo,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48997,21122097,Fresh and cozy male room on Manhattan III,39528519,Max,Manhattan,Lower East Side,40.7111,NaN,Shared room,32.0,14.0,4.0,2019-02-09,0.25,Auto%#,341
48998,773041,Nice beautiful room In the Bronx,3684360,Enrique,Bronx,Allerton,40.85914,-73.86979,Private room,38.0,1.0,187.0,2019-06-23,2.34,4,241
48999,14028586,Perfect Luxury Studio in DUMBO,83977725,Mi,Brooklyn,Vinegar Hill,40.70125,-73.98582,Entire home/apt,175.0,2.0,114.0,2019-06-22,3.36,1,154
49000,33772674,Boerum Hill modern duplex with private backyard!,401659,Dd,Brooklyn,Boerum Hill,40.68581,-73.9833,Entire home/apt,140.0,4.0,2.0,2019-05-15,0.97,1,77
49001,20227210,"Sunny one-bedroom apt., close to Prospect Park",1553230,Kate,Brooklyn,Prospect Heights,40.67635,Auto%#,NaN,124.0,2.0,9.0,2019-02-19,NaN,1,0

In [115]:
df['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', nan, 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [116]:
df3['neighbourhood_group'] = df2['neighbourhood_group'].fillna('Sin dato')
df3.head()

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3041217828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['neighbourhood_group'] = df2['neighbourhood_group'].fillna('Sin dato')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,0,Anónimo,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0

In [117]:
df3['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Sin dato', 'Queens', 'Staten Island',
       'Bronx'], dtype=object)

In [118]:
df['neighbourhood'].unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', nan, 'Crown Heights', 'Park Slope',
       'Windsor Terrace', 'Inwood', 'East Village', 'Greenpoint',
       'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Chelsea', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'East Flatbush', 'Tompkinsville', 'Astoria',
       'Clason Point', 'Eastchester', 'Kingsbridge', 'Two Bridges',
       'Queens Village', 'Rockaway Beach', 'Forest Hills', 'Nolita',
       'Woodlawn', 'University Heights', 'Gravesend', 'Gramercy',
       'Allerton', 'East New York', 'Theater District',
       'Concourse Village', 'Sheepshead Bay', 'Emerson Hill',
       'Fort Hamilton', 'Tribeca', 'Shore Acres', 'Sunset Park',
       'Concourse', 'Elmhurst', 'Brighton Beach', 'Jackson Heights',
       'Cypress Hills', 'St. Albans', 'Arrochar', 'Rego Park',
       'Wakefield', 'Clifton', 'Bay Ridge', 'Flatiron District',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'Bensonhurst', 'City Island', 'Glendale', 'Red Hook',
       'Richmond Hill', 'Bellerose', 'Maspeth', 'Port Richmond',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', "Prince's Bay",
       'South Beach', 'Bath Beach', 'Jamaica Hills', 'Oakwood',
       'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot', 'Edenwald',
       'Grant City', 'Westerleigh', 'Bay Terrace, Staten Island',
       'Westchester Square', 'Little Neck', 'Fort Wadsworth', 'Rosebank',
       'Unionport', 'Mill Basin', 'Arden Heights', "Bull's Head",
       'New Dorp', 'Olinville', 'Rossville', 'Breezy Point',
       'Willowbrook', 'New Dorp Beach'], dtype=object)

In [119]:
df3['neighbourhood'] = df2['neighbourhood'].fillna('Valor Desconocido')
df3.head()

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\886150538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['neighbourhood'] = df2['neighbourhood'].fillna('Valor Desconocido')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,0,Anónimo,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150.0,3.0,0.0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,Auto%#,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.1,1,0

In [120]:
df3['neighbourhood'].unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Valor Desconocido',
       'Crown Heights', 'Park Slope', 'Windsor Terrace', 'Inwood',
       'East Village', 'Greenpoint', 'Bushwick', 'Flatbush',
       'Lower East Side', 'Prospect-Lefferts Gardens', 'Long Island City',
       'Kips Bay', 'SoHo', 'Chelsea', 'Upper East Side',
       'Prospect Heights', 'Washington Heights', 'Woodside',
       'Brooklyn Heights', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'Carroll Gardens',
       'St. George', 'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'East Flatbush', 'Tompkinsville', 'Astoria',
       'Clason Point', 'Eastchester', 'Kingsbridge', 'Two Bridges',
       'Queens Village', 'Rockaway Beach', 'Forest Hills', 'Nolita',
       'Woodlawn', 'University Heights', 'Gravesend', 'Gramercy',
       'Allerton', 'East New York', 'Theater District',
       'Concourse Village', 'Sheepshead Bay', 'Emerson Hill',
       'Fort Hamilton', 'Tribeca', 'Shore Acres', 'Sunset Park',
       'Concourse', 'Elmhurst', 'Brighton Beach', 'Jackson Heights',
       'St. Albans', 'Arrochar', 'Cypress Hills', 'Rego Park',
       'Wakefield', 'Clifton', 'Bay Ridge', 'Flatiron District',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'Bensonhurst', 'City Island', 'Glendale', 'Red Hook',
       'Richmond Hill', 'Bellerose', 'Maspeth', 'Port Richmond',
       'Arverne', 'Williamsbridge', 'Soundview', 'Woodhaven',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Norwood', 'Claremont Village', 'Whitestone',
       'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville', 'Eltingville',
       'Fresh Meadows', 'Bay Terrace', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Belle Harbor', 'Jamaica Estates',
       'Van Nest', 'Morris Park', 'West Brighton', 'Far Rockaway',
       'South Ozone Park', 'Tremont', 'Corona', 'Great Kills',
       'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Howard Beach', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'New Brighton', 'Midland Beach', 'Baychester',
       'Melrose', 'Bergen Beach', 'Richmondtown', 'Edgemere',
       'Howland Hook', 'Schuylerville', 'Coney Island', "Prince's Bay",
       'South Beach', 'Bath Beach', 'Jamaica Hills', 'Oakwood',
       'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot', 'Edenwald',
       'Grant City', 'Westerleigh', 'Bay Terrace, Staten Island',
       'Westchester Square', 'Little Neck', 'Fort Wadsworth', 'Rosebank',
       'Unionport', 'Mill Basin', 'Arden Heights', "Bull's Head",
       'Silver Lake', 'New Dorp', 'Olinville', 'Rossville',
       'Breezy Point', 'Willowbrook', 'New Dorp Beach'], dtype=object)

In [121]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        46103 non-null  object
 7   longitude                       46107 non-null  object
 8   room_type                       46105 non-null  object
 9   price                           46104 non-null  float64
 10  minimum_nights                  46110 non-null  float64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.2+ MB

In [122]:
df['latitude'].unique()

array(['40.64749', '40.75362', '40.80902', ..., '40.70184', '40.81475',
       '40.8785'], shape=(18716,), dtype=object)

In [123]:
df3['latitude'].info()

<class 'pandas.core.series.Series'>
Index: 47532 entries, 0 to 49001
Series name: latitude
Non-Null Count  Dtype
--------------  -----
46103 non-null  object
dtypes: object(1)
memory usage: 742.7+ KB

In [124]:
df3['latitude']=df3['latitude'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2216467373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude']=df3['latitude'].fillna('0')

In [125]:
df3['latitude']=df3['latitude'].replace(dic)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1152546252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude']=df3['latitude'].replace(dic)

In [126]:
df3.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                          1425
room_type                          1427
price                              1428
minimum_nights                     1422
number_of_reviews                  1424
last_review                       10856
reviews_per_month                 10892
calculated_host_listings_count     1425
availability_365                   1433
dtype: int64

In [127]:
df3['latitude']=df3['latitude'].astype(float)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3044378885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['latitude']=df3['latitude'].astype(float)

In [128]:
df['longitude'].unique()

array(['-73.97237', '-73.98377', '-73.9419', ..., '-73.93614',
       '-73.80844', '-73.83474'], shape=(14449,), dtype=object)

In [129]:
df4=df3

In [130]:
df4['longitude']=df4['longitude'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\105675783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['longitude']=df4['longitude'].fillna('0')

In [131]:
df4['longitude']=df4['longitude'].replace(dic)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\927286145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['longitude']=df4['longitude'].replace(dic)

In [132]:
df4['longitude']=df4['longitude'].astype(float)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2918794015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['longitude']=df4['longitude'].astype(float)

In [133]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       46105 non-null  object
 9   price                           46104 non-null  float64
 10  minimum_nights                  46110 non-null  float64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 6.2+ MB

In [134]:
df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Auto%#', 'Shared room', nan],
      dtype=object)

In [135]:
df4['room_type']=df4['room_type'].fillna('Cuarto Sencillo')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3486218046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['room_type']=df4['room_type'].fillna('Cuarto Sencillo')

In [136]:
dic2={'Auto%#' : 'Sin dato'}

In [137]:
dic4={'Auto%#': 'Cuarto Sencillo'}

In [138]:
df4['room_type']=df4['room_type'].replace(dic4)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2225540310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['room_type']=df4['room_type'].replace(dic4)

In [139]:
df4['room_type']=df4['room_type'].astype(object)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\453247016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['room_type']=df4['room_type'].astype(object)

In [140]:
df4.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              1428
minimum_nights                     1422
number_of_reviews                  1424
last_review                       10856
reviews_per_month                 10892
calculated_host_listings_count     1425
availability_365                   1433
dtype: int64

In [141]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           46104 non-null  float64
 10  minimum_nights                  46110 non-null  float64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 6.2+ MB

In [142]:
df['price'].unique()

array([  149.,   225.,   150.,    89.,    80.,   200.,    60.,    79.,
         135.,    85.,    nan,   120.,   140.,   215.,    99.,   190.,
         299.,   130.,   110.,    44.,   180.,    50.,    52.,    55.,
          70.,    35.,    40.,    68.,   115.,   151.,   228.,   144.,
          69.,    49.,   375.,   250.,   275.,   230.,    51.,    65.,
         105.,    95.,   145.,   285.,    94.,   800.,   131.,    98.,
         100.,   125.,   175.,   500.,   101.,   220.,    59.,   350.,
         199.,   325.,   235.,   170.,   400.,    75.,    90.,   185.,
          77.,    76.,   160.,   195.,   156.,   219.,   475.,   165.,
         196.,    83.,   123.,   265.,   249.,   121.,    45.,    71.,
          64.,   159.,   189.,   239.,   305.,   155.,    92.,    36.,
          37.,   205.,    39.,   390.,   129.,   212.,   124.,   122.,
         109.,   575.,   229.,   169.,   113.,   179.,   349.,   139.,
         650.,    67.,   599.,   211.,   290.,    87.,   395.,   260.,
          97.,   132.,   141.,   259.,    96.,   295.,   451.,   300.,
          42.,   255.,    72.,    88.,   450.,   198.,    46.,    33.,
         106.,    91.,  2000.,   429.,   107.,    43.,   248.,    41.,
         157.,   172.,   146.,   116.,   288.,   270.,   241.,   399.,
         438.,   279.,   137.,   280.,   226.,   154.,   700.,   246.,
         119.,   850.,    81.,    54.,   495.,   760.,    48.,    58.,
         153.,    73.,   485.,   310.,   167.,   147.,    34.,    93.,
          56.,  1300.,   127.,   402.,    30.,   240.,   385.,    47.,
         209.,   192.,    86.,   245.,   499.,   387.,   178.,  3000.,
         549.,    20.,    74.,   104.,   298.,   269.,   138.,   208.,
         142.,   315.,   210.,   311.,    82.,   117.,   380.,   328.,
         102.,   118.,   217.,   152.,   197.,   133.,   331.,   128.,
         136.,   148.,  1000.,   263.,    61.,   234.,   595.,   108.,
         355.,   134.,    62.,   550.,    84.,    78.,   900.,   103.,
         330.,   425.,   168.,    66.,   625.,   171.,   187.,   600.,
         312.,   163.,   158.,   173.,   465.,    63.,   340.,    57.,
        4000.,   999.,   289.,   166.,   176.,   339.,   191.,  2500.,
         329.,    38.,   890.,    53.,   420.,   950.,   334.,  1395.,
         221.,   182.,   181.,   112.,  1500.,  1899.,   188.,   262.,
         111.,   162.,    29.,   232.,  5000.,   345.,  1100.,   224.,
          10.,   194.,    31.,  1200.,   440.,   439.,   555.,   143.,
         184.,   799.,   455.,   193.,   161.,   201.,  1700.,   525.,
          32.,   750.,   174.,   251.,   480.,   320.,   164.,   272.,
         177.,   560.,  6000.,   379.,   303.,   675.,   749.,  5250.,
        1550.,  1250.,  1485.,   369.,  6500.,  2750.,  3750.,  1600.,
         975.,    25.,    18.,  2300.,   409.,   218.,   430.,  4500.,
        8000.,   795.,   414.,   126.,    16.,   785.,   370.,    22.,
         316.,   264.,   318.,   273.,   365.,   216.,   545.,   860.,
         540.,   233.,  1400.,   383.,   419.,  1050.,  2695.,   985.,
         360.,   699.,   227.,   247.,   895.,  9999.,   258.,  2400.,
         254.,   346.,   415.,   995.,  1763.,   510.,   308.,  1450.,
         281.,    27.,   825.,   524.,   202.,   244.,   114.,   257.,
         322.,   276.,   207.,   445.,   284.,   449.,  1495.,   256.,
         888.,   389.,   460.,   222.,   243.,   267.,   398.,   386.,
          28.,   319.,   238.,   374.,   490.,  1195.,   203.,   469.,
         186.,   352.,   297.,   237.,   745.,   410.,  1170.,   261.,
        1150.,   434.,   899.,   304.,   296.,   183.,   531.,   214.,
         335.,   655.,    24.,   477.,   372.,   206.,    26.,   587.,
         204.,  1731.,  1002.,   333.,   283.,   814.,  1800.,   278.,
         421.,   690.,   619.,  2100.,   348.,   223.,   268.,   359.,
         436.,   274.,   376.,   980.,   294.,   559.,   509.,   301.,
         408.,  3800., 10000.,  2350.,   822.,    23.,   407.,   489.,
         672.,   378.,   584.,   894.,   643.,   649.,   302.,   321.,
         534.,   748.,   252.,   487.,   236.,  1020.,    19.,  1599.,
          21.,   585.,  2590.,    11.,   640.,   459.,    12.,  2250.,
         484.,   337.,   317.,    15.,  2800.,  1475.,   615.,  2900.,
         287.,     0.,   515.,  1067.,   424.,   578.,   789.,  1795.,
        1095.,   530.,   496.,   435.,   422.,   367.,   695.,  1177.,
         790.,   253.,   573.,   766.,   231.,   840.,   577.,   589.,
         949.,   358.,   213.,  2200.,   497.,  1066.,   412.,   647.,
         277.,   720.,  2010.,  3210.,  4160.,  1046.,   271.,   416.,
        1680.,  7703.,  3518.,  6419.,  2626.,  2103.,  8500.,   479.,
        2990.,   620.,   394.,   323.,   974.,   344.,  1333.,   780.,
         347.,   393.,   309.,   483.,   737.,   470.,   689.,   639.,
         590.,   848.,   403.,   471.,   377.,   282.,   314.,   478.,
         433.,   670.,  2545.,  1115.,   913.,   505.,   718.,   307.,
         306.,  1880.,   714.,   956.,   266.,   292.,  2999.,   418.,
         452.,   343.,   291.,   392.,   356.,   242.,   396.,   332.,
         361.,   453.,   481.,   466.,   388.,   341.,   423.,   362.,
         313.,   805.,   725.,   443.,  1350.,   520.,  3200.,   293.,
         432.,   444.,  1075.,   820.,  1999.,   373.,  1750.,  1080.,
        1299.,  1295.,   519.,  1978.,  1494.,  3512.,   382.,   404.,
         503.,   472.,   454.,   431.,   468.,   498.,   612.,   488.,
        1497.,  2850.,   990.,   506.,   324.,  1315.,   446.,  7500.,
        3613.,  2600.,  4100.,   794.,  1145.,  1306.,   336.,  5100.,
         898.,   327.,   442.,   474.,  1799.,   353.,  4200.,   616.,
        6800.,   945.,   539.,   426.,   875.,   463.,   688.,   580.,
         583.,   381.,  1900.,   659.,   830.,    13.,   447.,  1099.,
         428.,   920.,   930.,  2995.,   342.,   843.,   417.,  1308.,
         561.,  1369.,  1749.,   338.])

In [143]:
df5=df4

In [144]:
df5['price']=df4['price'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\590171891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['price']=df4['price'].fillna('0')

In [145]:
df5['price']=df5['price'].astype(int)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1797494408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['price']=df5['price'].astype(int)

In [146]:
df5.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                     1422
number_of_reviews                  1424
last_review                       10856
reviews_per_month                 10892
calculated_host_listings_count     1425
availability_365                   1433
dtype: int64

In [147]:
df['minimum_nights'].unique()

array([1.00e+00, 3.00e+00, 1.00e+01, 4.50e+01, 2.00e+00, 5.00e+00,
       4.00e+00, 9.00e+01, 7.00e+00, 1.40e+01, 6.00e+01, 2.90e+01,
       3.00e+01, 1.80e+02, 9.00e+00,      nan, 3.10e+01, 6.00e+00,
       1.50e+01, 8.00e+00, 2.60e+01, 2.80e+01, 2.00e+02, 5.00e+01,
       1.70e+01, 2.10e+01, 1.10e+01, 2.50e+01, 1.30e+01, 3.50e+01,
       1.80e+01, 2.00e+01, 4.00e+01, 4.40e+01, 6.50e+01, 5.50e+01,
       1.20e+02, 3.65e+02, 1.22e+02, 2.70e+01, 1.90e+01, 2.40e+02,
       8.80e+01, 1.15e+02, 1.50e+02, 3.70e+02, 1.60e+01, 8.00e+01,
       1.81e+02, 2.65e+02, 3.00e+02, 5.90e+01, 1.85e+02, 3.60e+02,
       5.60e+01, 1.20e+01, 7.00e+01, 3.90e+01, 2.40e+01, 3.20e+01,
       1.00e+03, 1.10e+02, 2.70e+02, 2.20e+01, 7.50e+01, 2.50e+02,
       6.20e+01, 2.30e+01, 1.25e+03, 3.64e+02, 7.40e+01, 1.98e+02,
       1.00e+02, 5.00e+02, 4.30e+01, 9.10e+01, 4.80e+02, 5.30e+01,
       9.90e+01, 1.60e+02, 4.70e+01, 1.86e+02, 3.66e+02, 6.80e+01,
       9.30e+01, 8.70e+01, 1.83e+02, 2.99e+02, 9.99e+02, 1.75e+02,
       9.80e+01, 1.33e+02, 3.54e+02, 4.20e+01, 3.30e+01, 3.70e+01,
       2.25e+02, 4.00e+02, 1.05e+02, 1.84e+02, 1.53e+02, 1.34e+02,
       2.22e+02, 5.80e+01, 2.10e+02, 2.75e+02, 1.82e+02, 1.14e+02,
       8.50e+01, 3.60e+01])

In [148]:
df5['minimum_nights']=df5['minimum_nights'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\955165787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['minimum_nights']=df5['minimum_nights'].fillna('0')

In [149]:
df5['minimum_nights']=df5['minimum_nights'].astype(int)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\14523137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['minimum_nights']=df5['minimum_nights'].astype(int)

In [150]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               46108 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 6.2+ MB

In [151]:
df['number_of_reviews'].unique()

array([  9.,  45.,   0., 270.,  74.,  49., 430., 118., 160.,  53., 188.,
       167., 113.,  27., 148., 198., 260., 130.,  39.,  71.,  88.,  19.,
        58., 108.,  29., 242., 197., 273., 168., 231., 214., 245.,  15.,
        25.,  81.,  97.,  11., 248.,  61., 135., 112.,  73.,  82., 328.,
        nan, 105., 289., 138.,  21.,  42.,   5.,  66., 143., 191., 338.,
       106., 190.,  23., 142.,  54.,  70.,  16.,  94., 194.,   2., 174.,
        24., 166.,   1.,  30., 139., 233.,  68.,  46., 335., 162., 170.,
       334.,  12., 467.,   7.,  38., 324., 115., 354., 195.,  13.,  36.,
        63., 155., 193.,  32.,  50.,  26., 426., 227.,  84.,   3.,  10.,
         4., 124., 200.,  79.,  34., 134., 126., 234., 202.,  28.,  14.,
        80., 294., 150.,  47., 219., 114., 213.,  86.,  18., 206., 122.,
        33.,  52.,  51., 199.,  41., 109., 151., 285.,   6., 358., 226.,
       104., 204., 253., 129.,  37.,  69.,  17., 222., 205., 458., 183.,
       189., 127.,  35., 171.,  92., 238.,  56., 111., 147., 177., 185.,
        62., 181., 333., 441., 279., 203., 210.,  64., 132.,  20.,  67.,
       187.,  22.,  93.,  48., 120.,  43.,  59.,  31., 220., 286., 398.,
        76., 182.,   8., 240., 228., 388., 223., 218.,  75., 370., 131.,
       136.,  98., 380., 163., 247., 116., 320., 225.,  95., 175., 263.,
       232., 414., 119., 117., 385., 103., 280.,  57., 480., 101.,  87.,
       241.,  90.,  99., 271., 179., 401.,  72.,  83., 211., 295., 207.,
       172., 330., 123.,  55., 258., 128.,  60., 152., 154., 164., 278.,
       235., 305., 102.,  89.,  65.,  40., 100., 125., 229., 107., 176.,
       178., 216., 314., 153., 110., 244., 208., 121., 157., 209.,  44.,
       158., 236., 215.,  78., 297.,  77., 265., 156., 272., 268., 133.,
       165., 269., 243., 137., 145., 339., 454., 230., 144., 439., 261.,
       319., 184., 451., 169., 251., 141., 304., 474.,  85., 221., 201.,
       321., 250., 149., 254., 161., 323., 347., 296.,  96., 173., 239.,
       404., 326., 363., 146., 327., 237., 353.,  91., 302., 276., 186.,
       322., 267., 540., 224., 291., 315., 313., 594., 597., 607., 287.,
       159., 395., 281., 447., 356., 360., 349., 246., 308., 292., 140.,
       284., 374., 196., 212., 274., 340., 386., 336., 249., 275., 259.,
       252., 298., 288., 255., 365., 257., 217., 192., 488., 332., 180.,
       277., 389., 372., 299., 394., 357., 350., 352., 351., 262., 318.,
       307., 325., 282., 396., 466., 397., 290., 424., 408., 309., 543.,
       264., 629., 576., 256., 459., 375., 412., 378., 411., 434., 510.,
       306., 392., 368., 436., 266., 310., 403., 341.])

In [152]:
df5['number_of_reviews']=df5['number_of_reviews'].fillna('0.1')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2787745573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['number_of_reviews']=df5['number_of_reviews'].fillna('0.1')

In [153]:
df5['number_of_reviews']=df2['number_of_reviews'].astype(float)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\754378241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['number_of_reviews']=df2['number_of_reviews'].astype(float)

In [154]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               47532 non-null  float64
 12  last_review                     36676 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 6.2+ MB

In [155]:
df6=df5

In [156]:
df['last_review'].unique()

array(['2018-10-19', '2019-05-21', nan, ..., '2017-12-23', '2018-01-29',
       '2018-03-29'], shape=(1750,), dtype=object)

In [157]:
df6['last_review']=df6['last_review'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\2098004600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['last_review']=df6['last_review'].fillna('0')

In [158]:
df6['last_review']=df5['last_review'].astype(object)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\935294564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['last_review']=df5['last_review'].astype(object)

In [159]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               47532 non-null  float64
 12  last_review                     47532 non-null  object
 13  reviews_per_month               36640 non-null  object
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 6.2+ MB

In [160]:
df['reviews_per_month'].unique()

array(['0.21', '0.38', nan, '4.64', '0.1', '0.59', '0.4', '3.47', '0.99',
       '1.33', '0.43', 'Auto%#', '1.34', '0.91', '0.22', '1.72', '2.12',
       '4.44', '0.07', '1.09', '0.37', '0.61', '0.73', '1.37', '0.49',
       '1.11', '0.24', '2.04', '1.42', '1.65', '0.66', '1.96', '1.81',
       '2.08', '0.39', '0.23', '0.69', '0.84', '2.25', '0.52', '1.16',
       '1.01', '0.63', '0.7', '2.82', '0.17', '2.49', '1.19', '0.3',
       '0.12', '0.57', '0.16', '4.72', '1.4', '1.26', '1.64', '1.6',
       '0.92', '0.2', '1.5', '1.28', '0.54', '0.62', '0.15', '0.53',
       '1.73', '0.05', '1.54', '0.28', '3.4', '1.57', '1.05', '0.71',
       '0.11', '0.27', '1.23', '0.87', '2.09', '0.6', '0.55', '3.02',
       '0.79', '1.46', '1.61', '3.0', '0.13', '4.22', '0.06', '3.01',
       '3.2', '2.03', '0.08', '0.19', '0.33', '0.58', '1.86', '0.29',
       '0.45', '0.25', '0.02', '3.89', '0.77', '0.03', '0.04', '2.19',
       '0.74', '0.09', '0.32', '1.24', '2.6', '0.26', '2.86', '2.17',
       '1.66', '0.94', '0.78', '1.06', '2.0', '0.8', '0.75', '0.36',
       '1.92', '1.18', '0.5', '1.17', '0.48', '1.85', '1.04', '1.43',
       '2.69', '3.52', '0.31', '3.44', '1.0', '1.45', '3.04', '1.22',
       '1.13', '0.35', '1.84', '0.96', '2.1', '4.58', '0.01', '0.67',
       '0.18', '1.83', '1.82', '1.3', '0.34', '2.21', '1.8', '0.9', '2.3',
       '2.13', '1.44', '1.71', '1.78', '1.77', '3.19', '4.5', '0.46',
       '2.39', '1.38', '0.41', '0.14', '3.55', '2.27', '1.27', '1.31',
       '1.87', '0.93', '0.68', '1.25', '0.42', '0.44', '2.01', '2.81',
       '3.97', '0.76', '0.51', '0.85', '2.4', '1.07', '3.88', '2.22',
       '1.51', '2.26', '1.21', '3.74', '1.76', '1.68', '3.83', '2.53',
       '0.56', '2.51', '3.23', '4.1', '1.79', '1.55', '2.41', '0.72',
       '0.86', '2.18', '4.34', '2.14', '4.0', '1.08', '2.33', '2.31',
       '2.92', '0.89', '1.94', '0.47', '4.6', '0.95', '2.84', '1.97',
       '2.02', '2.35', '6.62', '0.97', '3.9', '0.65', '2.85', '1.62',
       '7.14', '1.29', '2.7', '2.9', '1.63', '2.47', '0.64', '2.95',
       '1.15', '3.24', '1.52', '0.88', '1.36', '1.59', '1.32', '2.59',
       '2.45', '0.98', '2.65', '2.5', '2.83', '3.45', '1.2', '1.02',
       '1.41', '2.74', '1.75', '2.32', '2.52', '1.1', '0.82', '2.38',
       '1.12', '1.69', '1.39', '2.44', '2.29', '0.81', '2.42', '3.6',
       '3.37', '2.11', '2.99', '1.47', '1.49', '3.18', '1.88', '3.09',
       '2.75', '1.53', '1.14', '3.3', '1.35', '3.15', '2.06', '2.15',
       '0.83', '5.12', '1.56', '2.63', '2.54', '3.51', '5.26', '3.85',
       '2.2', '1.03', '3.7', '5.53', '1.91', '4.14', '1.95', '3.93',
       '1.89', '1.9', '1.99', '3.05', '3.16', '3.53', '4.24', '2.57',
       '1.98', '3.92', '3.59', '3.56', '2.89', '4.9', '3.96', '4.55',
       '2.07', '1.93', '1.67', '1.7', '4.01', '10.0', '2.96', '3.35',
       '2.68', '3.34', '4.16', '2.62', '4.33', '2.79', '3.07', '4.18',
       '2.34', '3.58', '4.46', '6.95', '2.91', '2.97', '2.36', '3.69',
       '4.03', '4.09', '7.72', '7.75', '5.39', '3.08', '4.3', '5.16',
       '3.68', '2.46', '5.89', '1.74', '3.14', '4.79', '2.72', '3.22',
       '3.27', '3.12', '4.73', '4.11', '2.61', '3.8', '2.66', '3.66',
       '3.87', '2.87', '5.06', '3.17', '2.67', '3.31', '2.24', '2.23',
       '4.51', '3.41', '4.67', '5.68', '3.1', '2.78', '5.4', '4.54',
       '2.64', '2.05', '2.8', '4.02', '3.11', '3.32', '4.62', '3.28',
       '3.49', '4.43', '3.94', '3.5', '1.58', '3.39', '6.3', '2.77',
       '4.83', '8.52', '3.63', '4.49', '3.46', '4.71', '3.36', '3.82',
       '3.25', '3.13', '2.98', '3.42', '3.38', '3.29', '4.82', '3.03',
       '2.55', '4.32', '3.33', '4.29', '4.91', '4.31', '1.48', '2.93',
       '2.71', '2.43', '3.62', '2.28', '3.61', '4.27', '2.37', '4.2',
       '5.54', '4.05', '3.67', '4.07', '5.81', '3.26', '4.84', '4.57',
       '3.06', '3.72', '4.36', '4.69', '3.54', '2.88', '4.21', '3.95',
       '2.73', '8.14', '3.48', '3.79', '5.57', '4.12', '5.96', '4.95',
       '2.48', '6.51', '4.63', '6.23', '5.04', '4.37', '5.03', '6.76',
       '4.99', '5.0', '2.76', '2.58', '4.13', '3.76', '3.64', '3.99',
       '6.79', '6.19', '2.56', '6.22', '3.91', '6.05', '5.6', '6.1',
       '4.66', '2.94', '4.15', '5.9', '6.31', '7.53', '3.81', '3.21',
       '4.4', '4.65', '5.78', '3.43', '5.44', '4.45', '5.66', '13.45',
       '2.16', '3.86', '6.77', '4.08', '4.39', '4.38', '3.75', '5.51',
       '4.42', '5.72', '7.71', '5.29', '9.16', '5.17', '5.92', '4.87',
       '7.97', '4.94', '8.82', '3.71', '4.59', '4.48', '5.28', '3.57',
       '4.85', '3.65', '4.7', '5.37', '3.78', '4.26', '9.63', '4.56',
       '5.41', '5.13', '5.45', '5.09', '5.2', '8.86', '8.56', '4.19',
       '4.17', '6.61', '4.78', '5.36', '6.37', '6.09', '6.26', '7.07',
       '4.98', '11.59', '5.46', '4.06', '4.35', '4.53', '4.68', '5.42',
       '5.98', '5.22', '5.61', '4.23', '6.46', '5.65', '5.85', '5.59',
       '5.94', '5.11', '5.18', '14.58', '4.47', '4.77', '6.57', '4.89',
       '6.12', '4.8', '5.62', '3.98', '6.25', '5.95', '13.4', '5.49',
       '10.72', '5.25', '5.34', '4.76', '3.77', '5.87', '4.04', '5.01',
       '5.02', '6.08', '5.83', '4.52', '9.26', '5.08', '7.38', '10.19',
       '6.78', '6.02', '5.71', '6.38', '4.25', '9.67', '5.97', '5.27',
       '3.84', '4.81', '5.24', '4.74', '4.86', '7.45', '5.15', '5.14',
       '3.73', '4.88', '6.0', '6.74', '5.79', '9.61', '9.3', '6.36',
       '11.4', '7.1', '5.3', '5.07', '5.63', '5.43', '9.24', '4.75',
       '4.93', '6.07', '9.39', '12.84', '6.91', '5.21', '5.88', '6.13',
       '4.41', '5.47', '6.35', '6.4', '6.97', '6.71', '6.55', '6.01',
       '6.64', '6.54', '6.45', '6.9', '7.28', '5.69', '8.18', '9.83',
       '16.22', '5.75', '10.64', '8.17', '9.82', '5.31', '5.35', '8.33',
       '8.79', '7.23', '4.96', '13.15', '5.32', '7.18', '14.36', '9.66',
       '6.17', '6.03', '5.7', '5.23', '13.48', '11.91', '5.19', '8.58',
       '5.74', '4.28', '6.15', '10.6', '7.96', '11.72', '13.24', '7.0',
       '8.07', '5.58', '7.12', '6.92', '16.03', '5.05', '7.04', '5.84',
       '10.34', '5.33', '7.05', '7.84', '7.66', '7.79', '5.82', '8.16',
       '5.91', '5.77', '11.56', '7.64', '5.55', '7.65', '5.73', '4.61',
       '5.86', '7.27', '6.59', '7.57', '13.27', '4.97', '7.76', '6.21',
       '6.6', '6.58', '5.76', '7.5', '6.18', '6.27', '6.44', '6.87',
       '8.75', '8.95', '5.48', '7.33', '5.38', '10.39', '7.43', '5.99',
       '7.19', '12.99', '8.87', '5.8', '5.5', '19.75', '6.29', '9.41',
       '12.54', '7.24', '10.28', '10.38', '8.92', '8.24', '10.86', '6.68',
       '7.9', '8.57', '10.15', '5.67', '5.1', '17.82', '6.8', '7.39',
       '7.47', '11.17', '6.94', '16.81', '8.21', '6.7', '7.87', '7.55',
       '5.56', '9.53', '8.27', '6.11', '7.98', '8.06', '6.56', '7.03',
       '6.73', '6.96', '6.42', '8.32', '5.93', '6.34', '9.74', '9.13',
       '6.06', '8.38', '9.43', '7.2', '7.77', '7.69', '7.59', '7.13',
       '4.92', '9.97', '9.47', '6.24', '5.52', '7.94', '8.93', '7.26',
       '7.32', '11.68', '5.64', '8.69', '7.01', '8.0', '6.28', '7.92',
       '9.17', '8.64', '6.2', '6.48', '12.05', '7.34', '6.99', '7.7',
       '6.04', '10.77', '7.61', '10.12', '8.84', '8.29', '9.34', '7.56',
       '6.5', '7.21', '6.84', '9.36', '7.58', '8.31', '8.02', '8.72',
       '8.4', '7.42', '7.99', '9.58', '7.31', '8.97', '7.08', '6.86',
       '8.62', '6.41', '7.41', '6.72', '13.11', '6.14', '7.25', '6.43',
       '8.35', '11.03', '7.83', '10.29', '9.09', '6.32', '6.67', '8.99',
       '9.62', '6.75', '10.67', '7.6', '8.44', '9.12', '8.51', '7.91',
       '20.94', '6.83', '9.15', '9.5', '9.29', '9.64', '10.05', '9.03',
       '13.3', '15.23', '9.08', '11.38', '7.36', '8.11', '9.33', '15.32',
       '6.65', '8.47', '8.03', '8.5', '10.36', '9.93', '9.1', '9.23',
       '6.39', '8.45', '8.48', '6.88', '9.68', '6.49', '7.17', '13.13',
       '7.67', '9.85', '58.5', '27.95', '14.62', '6.69', '8.37', '6.63',
       '7.88', '7.85', '7.3', '7.02', '7.22', '7.29', '10.37', '9.21',
       '12.12', '6.53', '11.21', '6.52', '9.07', '8.94', '12.0', '6.82',
       '8.73', '9.4', '10.17', '11.25', '7.89', '13.33', '10.56', '9.0',
       '7.06', '10.31', '14.0', '7.63', '12.11', '11.84', '11.16', '9.78',
       '10.23', '7.86', '11.71', '9.73', '10.91', '7.11', '10.54'],
      dtype=object)

In [161]:
df6['reviews_per_month']=df6['reviews_per_month'].fillna('0.0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3786678367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['reviews_per_month']=df6['reviews_per_month'].fillna('0.0')

In [162]:
df6['reviews_per_month']=df6['reviews_per_month'].replace(dic)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3415232775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['reviews_per_month']=df6['reviews_per_month'].replace(dic)

In [163]:
df6['reviews_per_month']=df6['reviews_per_month'].astype(float)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\948469349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['reviews_per_month']=df6['reviews_per_month'].astype(float)

In [164]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               47532 non-null  float64
 12  last_review                     47532 non-null  object
 13  reviews_per_month               47532 non-null  float64
 14  calculated_host_listings_count  46107 non-null  object
 15  availability_365                46099 non-null  object
dtypes: float64(4), int64(4), object(8)
memory usage: 6.2+ MB

In [165]:
df['calculated_host_listings_count'].unique()

array(['6', '2', '1', '4', '3', nan, 'Auto%#', '5', '7', '13', '28', '11',
       '8', '9', '52', '18', '15', '19', '10', '39', '29', '12', '96',
       '21', '14', '26', '34', '43', '121', '37', '49', '31', '91', '16',
       '87', '33', '23', '50', '20', '25', '232', '17', '47', '103', '65',
       '30', '27', '327', '32'], dtype=object)

In [166]:
df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].fillna('0')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1720880091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].fillna('0')

In [167]:
df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].replace(dic)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\3259855465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].replace(dic)

In [168]:
df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].astype(int)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\954185610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['calculated_host_listings_count']=df6['calculated_host_listings_count'].astype(int)

In [169]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               47532 non-null  float64
 12  last_review                     47532 non-null  object
 13  reviews_per_month               47532 non-null  float64
 14  calculated_host_listings_count  47532 non-null  int64
 15  availability_365                46099 non-null  object
dtypes: float64(4), int64(5), object(7)
memory usage: 6.2+ MB

In [170]:
df['availability_365'].unique()

array(['365', '355', '194', '0', '129', '220', '188', '6', '39', '314',
       '333', '46', '321', '12', '21', '249', '347', '364', '304', '233',
       '85', '75', '311', '67', '255', '284', '359', '269', '340', '22',
       '96', '345', '273', '309', '95', '215', '265', '192', '251', '302',
       '140', '234', '257', '30', '301', '294', '320', '154', '263',
       '180', '231', '297', '292', nan, '72', '362', '336', '116', '88',
       'Auto%#', '224', '322', '324', '132', '295', '238', '209', '328',
       '38', '7', '272', '26', '288', '317', '207', '185', '158', '9',
       '198', '219', '342', '312', '243', '152', '137', '222', '346',
       '208', '279', '250', '164', '298', '260', '107', '199', '299',
       '20', '318', '245', '189', '307', '310', '213', '278', '16', '178',
       '275', '163', '34', '280', '1', '170', '214', '248', '262', '339',
       '10', '290', '230', '53', '126', '3', '177', '246', '225', '18',
       '326', '162', '240', '247', '323', '125', '91', '286', '60', '58',
       '351', '201', '232', '258', '341', '244', '329', '253', '348',
       '353', '2', '56', '68', '360', '76', '15', '226', '349', '11',
       '316', '281', '287', '14', '86', '261', '331', '51', '254', '103',
       '42', '325', '203', '5', '276', '102', '71', '78', '8', '191',
       '182', '79', '49', '156', '343', '200', '106', '135', '81', '142',
       '179', '237', '204', '181', '296', '35', '335', '282', '274', '98',
       '157', '174', '223', '361', '283', '363', '36', '271', '139',
       '193', '52', '136', '277', '221', '264', '236', '89', '23', '218',
       '235', '119', '350', '161', '259', '27', '167', '358', '59', '337',
       '43', '25', '127', '303', '115', '268', '37', '44', '65', '252',
       '64', '111', '90', '338', '31', '285', '183', '84', '166', '28',
       '83', '305', '356', '308', '229', '210', '153', '332', '120',
       '313', '69', '293', '4', '300', '315', '40', '117', '206', '144',
       '354', '41', '270', '306', '216', '33', '50', '80', '97', '118',
       '134', '17', '289', '121', '205', '74', '62', '29', '109', '168',
       '146', '242', '352', '155', '291', '266', '101', '190', '327',
       '217', '171', '110', '87', '202', '70', '147', '169', '212', '122',
       '330', '54', '196', '57', '73', '149', '239', '63', '47', '195',
       '319', '19', '112', '344', '160', '141', '13', '24', '150', '128',
       '176', '357', '211', '172', '256', '165', '77', '32', '105', '267',
       '148', '93', '45', '175', '159', '241', '48', '100', '184', '114',
       '133', '186', '334', '94', '151', '228', '113', '55', '66', '173',
       '104', '197', '99', '131', '143', '124', '130', '187', '145',
       '108', '123', '92', '61', '138', '227', '82'], dtype=object)

In [171]:
df6['availability_365']=df6['availability_365'].fillna('0.1')

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1791335572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['availability_365']=df6['availability_365'].fillna('0.1')

In [172]:
dic3={'Auto%#': '0.1'}
df6['availability_365']=df6['availability_365'].replace(dic3)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\912076280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['availability_365']=df6['availability_365'].replace(dic3)

In [173]:
df6['availability_365']=df6['availability_365'].astype(float)

C:\Users\orcar\AppData\Local\Temp\ipykernel_15108\1570297733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['availability_365']=df6['availability_365'].astype(float)

In [174]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47532 entries, 0 to 49001
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47532 non-null  int64
 1   name                            47532 non-null  object
 2   host_id                         47532 non-null  int64
 3   host_name                       47532 non-null  object
 4   neighbourhood_group             47532 non-null  object
 5   neighbourhood                   47532 non-null  object
 6   latitude                        47532 non-null  float64
 7   longitude                       47532 non-null  float64
 8   room_type                       47532 non-null  object
 9   price                           47532 non-null  int64
 10  minimum_nights                  47532 non-null  int64
 11  number_of_reviews               47532 non-null  float64
 12  last_review                     47532 non-null  object
 13  reviews_per_month               47532 non-null  float64
 14  calculated_host_listings_count  47532 non-null  int64
 15  availability_365                47532 non-null  float64
dtypes: float64(5), int64(5), object(6)
memory usage: 6.2+ MB

In [175]:
df6.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [176]:
df7=df6

In [177]:
df7 = df7.rename(columns={
    'name': 'nombre_del_alojamiento',
    'host_id': 'id_del_anfitrion',
    'host_name': 'nombre_del_anfitrion',
    'neighbourhood_group': 'nombre_de_la_ciudad',
    'neighbourhood': 'vecindario',
    'latitude': 'latitud',
    'longitude': 'longitud',
    'room_type': 'tipo_de_cuarto',
    'price': 'precio',
    'minimum_nights': 'mínimo_de_noches',
    'number_of_reviews': 'numero_de_reseñas',
    'last_review': 'última_reseña',
    'reviews_per_month': 'reseñas_por_mes',
    'calculated_host_listings_count': 'cantidad_de_alojamientos',
    'availability_365': 'disponibilidad_al_año'
})
df7.head(1)

,id,nombre_del_alojamiento,id_del_anfitrion,nombre_del_anfitrion,nombre_de_la_ciudad,vecindario,latitud,longitud,tipo_de_cuarto,precio,mínimo_de_noches,numero_de_reseñas,última_reseña,reseñas_por_mes,cantidad_de_alojamientos,disponibilidad_al_año
0,2539,Clean & quiet apt home by the park,0,Anónimo,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9.0,2018-10-19,0.21,6,365.0

In [178]:
df7.to_csv("df_limpio.csv", index=True)